.container{
    background-color: rgb(64, 110, 209);
    padding: 30px 50px;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    color: white;
    top: 0;
    z-index: 8;
}
.item{
    flex: 1;
    display: flex;
    align-items: center;
    z-index: inherit;
}
.item:nth-child(3){
    flex:2;
    display: flex;
}
.item:nth-child(2){
    margin-left: 10px;
    
}
.item:first-child{
    margin-left: -30px;
    padding: 2px 2px;
    flex: 1;
    padding:0px;
    font-family: 'Courier New', Courier, monospace;}
.text{
    margin-left: 10px;
}
.text:first-child{
    font-size: 12px;
    font-weight: 600;
}
.text:last-child{
    font-size: 20px;
    font-weight: bold;
}
.nav > .listItem{
    list-style-type: None;
    display: flex;
    color: white;
}

.listItem li {
    margin-left: 40px;
    font-weight: bold;
}

.listItem li:first-child{
    margin-left: 0px;
}

.listItem > li:hover{
    color: cyan;
    cursor: pointer;
}
.item:last-child{
    justify-content: flex-end;
}

.search {
    padding:10px;
    border: none;
    background: none;
    width: 15rem;
    border-bottom: 2px solid white;
    color: white;
}
.number {
    position: absolute;
    margin-top: -20px;
    margin-right:-8px;
    z-index: 5;
    background: white;
    color: black;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid white 2px;
    border-radius: 50%;
    padding:6px;
    font-weight: bold;
    color: blue;
}
.cart:hover{
    cursor: pointer;
}

/* hamburger */

.hamburger {
    display: block;
    width: 39px;
    cursor: pointer;
    appearance: none;
    background:none;
    height: 35px;
    position: relative;
    outline: none;
    border: none;
    z-index: 600;
    transform: translateX(10px)

}

.hamburger .bar, .hamburger:before , .hamburger:after {
    content: "";
    width: 100%;
    height: 5px;
    background-color: #fff;
    margin: 6px 0px 0px;
    transition: 0.5s;
    border-radius:10px;
    display: block;
}

.hamburger.isActive:after {
    transform: rotate(45deg) translate(-9px, -5px);
}

.hamburger.isActive .bar {
    opacity: 0;
}

.mobileNav {
    position: fixed;
    min-height: 80vh;
    width: 100vw;
    background-color:rgb(64, 110, 209);
    top: 9;
    padding-right: 40px;
    padding-top: 40px;
    display: block;
    right: 0;
    z-index: 2;
    transform: translateX(130%);
    transition:  all 0.5s ease-in-out;
}

.activeNav {
    position: fixed;
    min-height: 100vh;
    min-width:100vw;
    background-color:rgb(64, 110, 209);
    top: 9;
    padding-right: 40px;
    padding-top: 40px;
    display: block;
    right: 0;
    z-index: 2;
    transform: translateX(5%);
    transition:  all 0.5s ease-in-out;
    
}

.mobileNav ul li {
    list-style-type: none;
    padding: 15px;
    text-align: center;
    background-color: rgb(31, 65, 140);
    margin-bottom: 5px;
    width: wrap;
    cursor: pointer;
    transition:  all 0.5s ease-in-out;
    
}

.mobileNav ul li:hover{
    background-color: rgb(12, 42, 106);
}



.hamburger.isActive:before {
    transform: rotate(-45deg) translate(-11px, 6px);
}

@media screen and (min-width:500px ) {
    .hamburger {
        display: none;
    }

    .mobileNav {
        display: none;
    }

}

@media screen and (max-width:400px) {
    .item {
        overflow: hidden;
    }
    .item:nth-child(3) {
        display:block;
    }
    .item:nth-child(4) .search {
        display: none;
    }

    .item::nth-child(4) {
        background-color: red;
        z-index: 200;
        display: block;
    }

    .item .cart , .number {
        overflow:hidden;
        transform: translate(-50px, 5px);
        z-index: 100;
    }
    .item:nth-child(2) {
        display: none;
    }

    .header {
        display: none;
    }
    
    .item .hamburger  {
        display: block;
        width: 35px;
        flex: 2;
    }
    .text {
        display: none;
    }

    .nav .listItem {
        display: none;
    }

    .nav {
        transform: translateX(160px)
    }

    .activeNav {
        display: block;
        margin: 20px -18px;
    }
    .extras {
        color:red;
    }

   

}