.Container{
    width: 23%;
    min-width: 23%;
    height:400px;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px 0px;
    border: solid 1px grey;
    border-radius:10px;
    margin: 20px;
    box-shadow: -1px 7px 9px -1px rgba(0,0,0,0.4);
-webkit-box-shadow: -1px 7px 9px -1px rgba(0,0,0,0.4);
-moz-box-shadow: -1px 7px 9px -1px rgba(0,0,0,0.4);
cursor: pointer;

}

.Container:hover{
    transition: translateY(10%);
    scale: 1.01;
    transition: all 0.1s ease-out;
}

.img {
    border-bottom: 1px solid grey;
    width: 100%;
    padding: 10px 0px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.title{
    font-size: 20px;
    font-weight: bold;
    color: dodgerblue;
}

.price{
    font-size: 18px;
    font-weight: bold;
    color: rgb(10, 18, 26);
    text-align: center;
}

.desc {
    text-align: center;
    color: rgb(5, 5, 31);
}

@media screen and ( max-width:400px ) {
.Container {
    width: 100%;
}

.desc, .price {
    font-size: 23px;
}


}